# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/config
run/.mixin.out
run/crash-reports
run/defaultconfigs
run/logs
run/options.txt
run/recourcepacks
run/saves
run/server.properties
run/servers.dat
run/usercache.json
run/usernamecache.json
.mcreator
dungeonsgear.mcreator
*.DS_Store
.DS_Store

# Files from Forge MDK
forge*changelog.txt
